.listing-page {
    padding: 20px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 calc(44.44% - 20px);
    /* Each item takes up 1/5 of the width with some margin */
    margin-right: 20px;
    margin-bottom: 20px;

}

.item img {
    background-repeat: no-repeat, repeat;

    width: 100%;
    height: 200px;
    background-blend-mode: lighten;
    object-fit: cover;

}

.item p {
    margin-top: 10px;
    text-align: center;
}